*{
    margin: 0;
    padding:0;
    touch-action: manipulation;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100vw;
    background-image: url(./images/background.webp);
    background-repeat: no-repeat;
    background-size: 1500px 1500px;
/*     min-height: 100vh;
    overflow: hidden; */
    
}

img {
    user-select: none;
  }

header{
    background-color: #333333;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding-block: 10px;
    font-family: 'Orbitron', sans-serif;
}
header>h1{
    color: #41FC03;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.counter{
    text-align: center;
    padding: 20px;
    font-size: 50px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}

.dps{
    font-size: 20px;
}

.cookie{
    margin: 31px;
    padding: auto;
    height: 400px;
    width: 400px;
    border: 3px solid rgb(123, 123, 123);
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.809);
    
}

.cookieDiv{
    position: relative;
}
.disc{
    height: 40px;
    position: absolute;
    padding-left: 250px;
    top: -15px;
    transition: padding 0.2s;
    transform-origin: 0;
    
    
}

.discs{
    background-color: red;
    padding: 5px;
    position: absolute;
    top: 48.5%;
    left: 49%;
    animation: discsRotate 200s infinite linear;
    z-index: 10;

}

@keyframes discsRotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);} 
}

.disc.trykkes{
    padding-left: 240px;
}



.cookie:hover{
    cursor: pointer;
}

.cookie:active{
    transform: translateY(5px);
    scale: 0.97;
    box-shadow: none;

}

footer{
    width: 100%;
    background-color: #333333;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.menus{
    height: 80px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}
.menu{
    background: linear-gradient(#baffa3, #41FC03);
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 1px solid white;
    border-radius: 25px;
    user-select: none;
}

.fa-solid{
    font-size: 60px;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.809);
}

.menus>div:hover{
    scale: 1.03;
    cursor: pointer;

}
.shop{
    width: 100%;
    background-color:#333333;
    font-family: 'Orbitron', sans-serif;
    color: white;
    
}

.shop>h1{
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    padding: 20px;
    text-align: center;
}
.shoplist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item{
    display: flex;
    flex-direction: row;
    height:60px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid white;
    margin-bottom: 15px;
    background-color: #41FC03e4;
}

.item:hover{
    cursor: pointer;
}

.itemImage>img{
    height: 60px;
    width: 60px;
    display: block;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    
}
.specs{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.specs>div{
    width: 93%;
}

.information{
    padding: 5px;
    margin-right: 20px;
}
.stats{
    padding: 5px;
}

.price>img{
    height: 15px;
    width: 15px;
    margin-right: 5px;
}
.price{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.windows{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.informations{
    background-color: #333333;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    color: white;
    flex-direction: column;
    align-items: center;
}

.informations>h1 {
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    padding: 20px;
    
}

.informationBox{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    border: 1px solid white;
    margin-bottom: 15px;
    background-color: #41FC03e4;
}

.informationBox>p{
    padding: 5px;
}



/* @media(max-width: 1100px){
    .shop{
        width: 100%;
    }
    .item{
        width: 40%;
    }
}
@media(max-width:750px){
    .item{
        width: 55%;
    }
}
    @media(max-width:600px){
        .item{
            width: 70%;
        }
}
@media(max-width:450px){
    .item{
        width: 90%;
    }
} */