*{
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    color: 041134;
}

body{
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) , rgb(122, 122, 122));
    display: flex;
    text-align: center;
    align-items: center;
}
main{
    height: 100%;
}

#fyrverkeri{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 3px;
}

#forside{
    display:none;
}


#hjemreise{
    background-color: rgb(236, 236, 236);
    padding: 20px;
    margin: 30px 10px;
    border-radius: 10px;
    box-shadow: 7px 10px 20px rgba(0, 0, 0, 0.517);

}

h1{
    text-align: center;
    color: 041134;
    margin-bottom: 20px;
    font-size: 50px;
}

p{
    color: 041134;
    margin: 40px 0px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left;
}

#taxi{
    margin-bottom: 10px;
}

#transfer{
    margin-top: 10px;
    margin-bottom: 70px;
}


h3{
    margin-top: 30px;
    margin-bottom: 20px;
}
table{
    display: block;
    width: 100%;
    color: #041134;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-size: 17px;
    border: 3px solid #041134;
    border-radius: 5px;
    border-collapse: collapse;

}



td{
    text-align: left;
    padding: 10px;
}

img{
    width: 100%;
    border-radius: 3px;
}

ul{
    margin-top: 30px;
    font-size: 30px;
    text-align: left;
}

@media only screen and (min-width: 425px){
    #linje2{
        top: 50px;
    }
    
}



@media only screen and (min-width: 500px){
    #tittel{
        display: none;
    }

    #fyrverkeri{
        display: none;
    }

    #forside{
        display: block;
        width: 100%;

    }



}

@media only screen and (min-width: 900px){

    #hjemreise{
        padding: 40px;
        margin: 10px 200px;
        border-radius: 20px;
        border: 5px solid rgb(30, 43, 50);
    }

    h1{
        margin-bottom: 40px;
        font-size: 85px;
    }

    p{
        margin: 80px 0px;
        margin-bottom: 40px;
        font-size: 25px;
    }


    h3{
        font-size: 25px;
    }
    table{
        font-size: 25px;
        border: 5px solid rgb(255, 255, 255);
    }
    #linje1{
        top: 63px;
        height: 5px;
    }
    #linje2{
        top: 91px;
        height: 5px;
    }

    h2{
        font-size: 4rem;
    }

    .countdown{
        margin: 30px 160px;
        margin-bottom: 20%;

    }
}

@media only screen and (min-width: 1009px){
    #linje2{
        top: 60px;
    }

}

@media only screen and (min-width: 1040px){
    h2{
        text-shadow: 2px 2px 2px black;
        font-size: 5rem;
    }
}